.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 80%;
  text-align: end;
  row-gap: 1em;
  margin-bottom: 3em;
  & ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    & li {
      font-size: 22px;
      & span {
        margin-left: 10px;
      }
    }
    .summary-container__summary__total {
      font-weight: 900;
    }
  }
  &__checkout button {
    background-color: #16cc9b;
    border: 2px solid #16cc9b;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 0.8rem 2.8rem;
    border-radius: 1.5rem;
    position: relative;
    left: 35px;

    cursor: pointer;
    &:hover {
      background-color: #f58551;
      border-color: #f58551;
    }
  }
}
