@use '../../shared/variables/spacing';
@use '../../shared/variables/colors';

.feature {
  margin-bottom: spacing.$section;
  h1 {
    text-align: center;
    margin-bottom: 2em;
    color: #858585;
    font-weight: 100;
  }
  .feature-product {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 2em;
    row-gap: 4em;
    margin: 0 12% 5% 12%;
    & a {
      color: #141414;
    }

    &__item {
      height: 100%;
      overflow: hidden;
      height: 300px;
      background-color: #fff;
      border: 1px solid #ccc;

      position: relative;

      &__label {
        position: absolute;
        bottom: 20px;
        left: 10px;
        &__heading {
          margin-bottom: 6px;
        }
      }
      img {
        transition: 0.3s ease-in-out;
        transform: scale(1);
        width: 100%;
        height: 70%;
        object-fit: cover;
        object-position: top;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationBttns a {
  padding: 10px;
  margin: 8px;
  cursor: pointer;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  border-radius: 5px;
}
.paginationBttns a:hover {
  background-color: rgb(0, 0, 255);
  color: #fff;
}
