$body-bg-color: #ffffff;

//login
$login-button-color: #ffffff;
$login-button-bgcolor: #141414;
$login-button-hoverbgcolor: #ffffff;
$login-button-hovercolor: #141414;
$login-button-bordercolor: 1px solid #141414;

//drawer
$drawerinput-bg-color: #f5f5f5;
$drawerinput-border-color: 1px solid #e5e5e5;
$drawerinput-color: #858585;
$drawer-bg-color: #ffffff;
$drawerinput-bg-hovercolor: #ffffff;
$drawerinput-border-hovercolor: 1px solid #141414;
$drawerinput-hovercolor: #141414;
$drawerinput-bg-focuscolor: #ffffff;
$drawerinput-border-focuscolor: 1px solid #141414;
$drawerinput-focuscolor: #141414;

//backdrop
$backdrop-bg-color: rgba(0, 0, 0, 0.75);

//nav
$nav-link-color: #141414;
//header
$header-bg-color: #ffffff;
//font
$font-color: #141414;
$base-family: 'Basic Commercial', sans-serif;
//signup-drawercomponent-part
$signuplist-item-color: #858585;
//search
$search-placeholder-color: #141414;
//category->home
$category-label-bg: #ffffff;
