@use '../shared/variables/colors';

@use '../shared/inheritances/mixins';
.dropdown-icon {
  color: #141414;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-items {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: -26px;
  top: 15px;
}

.dropdown-items a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-items a:hover {
  background-color: #f1f1f1;
}

.dropdown-menu:hover .dropdown-items {
  display: block;
}
