@use '../shared/variables/colors';
@use '../shared/variables/spacing';

@use '../shared/inheritances/mixins';

.signup-form {
  margin-top: 18%;
  margin-bottom: spacing.$drawersection-bottom-margin;
  & .signup-form__textfield {
    margin-bottom: 20px;

    & input {
      width: 14rem;
      padding: 8px 16px;
      background-color: colors.$drawerinput-bg-color;
      color: colors.$drawerinput-color;
      border: colors.$drawerinput-border-color;
      box-sizing: border-box;
      outline: none;

      &:hover {
        background-color: colors.$drawerinput-bg-hovercolor;
        color: colors.$drawerinput-hovercolor;
        border: colors.$drawerinput-border-hovercolor;
      }
      &:hover::placeholder {
        color: colors.$drawerinput-hovercolor;
      }
      &:focus {
        background-color: colors.$drawerinput-bg-focuscolor;
        color: colors.$drawerinput-focuscolor;
        border-color: colors.$drawerinput-border-focuscolor;
      }
    }
  }
}
.return-login {
  margin-top: 6em;
  text-align: center;
}
.return-login span {
  cursor: pointer;
  text-decoration: underline;
}
